@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*, *::after, *::before, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #000;
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}



.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    position: fixed;
    background-color: #0A55D2;
    /* height: 70px; */
    width: 100%;
    z-index: 50;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.logo {
    display: block;
    flex: 0 0 63px;
}
.hamburger-lines {
    display: none;
}
.checkbox {
    display: none;
}
.menu {
    display: flex;
}
.menu li{
    margin: 0px 40px 0px 0px;
}
.menu li:last-child{
    margin: 0;
}
.menu_link {
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.menu_link::after{
    position: absolute;
    content: "";
    border-bottom: 2px solid #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.5s ease 0s;
}
.menu_link:hover::after{
    transform: scaleX(1);
}

.main {
    padding: 0px 0px 0px 0px;
}

/* first first */

.first_main {
    position: relative;
    width: 100%;
    background: url('../img/3.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 50px 0px 20px 0px;
}
.back_block {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.title {
    position: relative;
    z-index: 5;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin: 75px 0px 50px 0px;
    width: 100%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.text{
    position: relative;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    z-index: 5;
    top: 80px;
    text-align: justify;
    max-width: 900px;
    margin: 0 auto;
}
.question_block {
    position: relative;
    z-index: 5;
    /* top: 120px; */
    margin-top: 150px;
    text-align: center;
}
.button_question {
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 15px 48px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}
.button_question:hover{
    box-shadow: 0px 1px 8px 1px #ffffff;
}
.popup-fade_0 {
    display: none;
}
.popup-fade_0::before {
    content: '';
    background: #16151B;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: 0.8;
    z-index: 50;}
.popup_0 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    width: 420px;
    background: #000000;
    box-shadow: 0px 8px 20px rgba(19, 21, 22, 0.1);
    border-radius: 10px; 
    z-index: 50;
    opacity: 1;
}
.popup-close_0 {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #fff
}
.qes_tit {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    margin: 10px 0px 30px 0px;
    text-align: center;
}
.name_ques_bl {
    margin: 0px 0px 20px 0px;
}
.name {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 20px;
    outline: none;
    font-weight: 400;
    border: none;
    border: 1px solid #E6E6E6;
}
.tel_ques_bl {
    margin: 0px 0px 20px 0px;
}
.tel_lb {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: red;
    padding: 0;
    margin: 0px 0px 5px 0px;
    display: none;
}
.number {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 20px;
    outline: none;
    font-weight: 400;
    border: none;
    border: 1px solid #E6E6E6;
}
.ask_ques_bl {
    margin: 0px 0px 20px 0px;
}
.ask {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 20px;
    outline: none;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    font-weight: 400;
    border: none;
    border: 1px solid #E6E6E6;
}
.btn_ques_bl {
    margin: 0px 0px 10px 0px;
}
.ask_btn {
    display: block;
    width: 100%;
    padding: 15px 0px;
    color: #fff;
    text-align: center;
    background-color: #1e73be;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    border: none;
}
.ask_btn:hover{
    background: linear-gradient(113.09deg, rgba(255, 255, 255, 0.09) -15.73%, rgba(11, 110, 209, 0.656) 47.76%, rgba(0, 190, 228, 0.27) 95.11%, rgba(255, 255, 255, 0) 130.53%), linear-gradient(93.98deg, #FFF3B4 -17.56%, #1e73be 107.31%, #1e73be 115.64%);
}


/* second second */

.second_main {
    padding: 40px 0px;
    width: 100%;
    background-color: #fff;
}
.subtile {
    font-size: 45px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 20px 0px 15px 0px;
    text-align: center;
}
.subtile_1 {
}
.holy_places {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.holy_block {
    flex-basis: 49%;
    flex-grow: 0;
    flex-shrink: 1;
    border: #000 solid 2px;
    margin: 25px 0px 0px 0px;
    padding: 10px;
    border-radius: 10px;
}
.holy_block.active{
    flex-basis: 100%;
    width: 100%;
    /* order: -1; */
}
.holy_block.active > .holy_block_photo{
    height: auto;
    max-height: 500px;
}
.block_place_1 {
}
.holy_block_photo {
    width: 100%;
    overflow: hidden;
    height: 300px;
}
.holy_block_photo img{
    width: 100%;
    height: 100%;
    transition: all 0.9s ease 0s;
}
.holy_block_photo:hover img{
    transform: scale(1.3);
}
.block_photo_1 {
}
.holy_block_text {
}
.block_text_1 {
}
.holy_block_title {
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    margin: 30px 0px 20px 0px;
}
._block_text {
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    margin: 0px 0px 20px 0px;
    text-indent: 20px;
}
.more_detailed{
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    display: inline-block;
    margin: 20px 0px;
    cursor: pointer;
    border-bottom: #000 2px solid;
}
.more_detailed.active{
    display: block;
}
._text_1, ._text_2, ._text_3, ._text_4, ._text_5, ._text_6, ._text_7, ._text_8, ._text_9, ._text_10{
    display: none;
}
._text_1.active, ._text_2.active, ._text_3.active, ._text_4.active, ._text_5.active, ._text_6.active, 
._text_7.active, ._text_8.active, ._text_9.active, ._text_10.active{
    display: block;
}

/* third third */

.third_main {
    width: 100%;
    /* background: #fafafa; */
    background: #F3F4F6;
    padding: 30px 0px;
}
.news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.subtile_2{
    margin: 30px 0px 0px 0px;
}
.news_block {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 31.5%;
    display: flex;
    flex-direction: column;
    background-color: #1e73be;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    margin: 35px 0px 0px 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
}
.news_block_photo {
    width: 100%;
    overflow: hidden;
}
.news_block_photo img{
    width: 100%;
}
.news_block_text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding: 0px 15px;
    margin: 20px 0px 30px 0px;
    color: #fff;
}
.news_block_link {
    display: block;
    padding: 12px 0px;
    text-align: center;
    background-color: #1e73be;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0px 10px 15px 10px;
    margin-top: auto;
    transition: all 0.3s ease 0s;
}
.news_block_link:hover{
    box-shadow: 0px 2px 12px 2px #ffffff;
}
.news_block_2 {
    /* margin: 0px 0px 30px 0px; */
}
.news_block_3 {
    /* margin: 0px 0px 30px 0px; */
}
.news_block_4 {
    /* margin: 0px 0px 30px 0px; */
}

/* forth forth */

.forth_block {
    width: 100%;
    padding: 30px 0px 0px 0px;
}
.subtile_3{
    margin: 40px 0px 25px 0px;
}
.beauty_places {
    display: flex;
    flex-wrap: wrap;
}
.beautiful {
    flex: 0 1 25%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.beautiful_1 {
    background: url('../img/31.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_2 {
    background: url('../img/32.jfif') center no-repeat;
    background-size: cover;
}
.beautiful_3 {
    background: url('../img/33.jfif') center no-repeat;
    background-size: cover;
}
.beautiful_4 {
    background: url('../img/34.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_5 {
    background: url('../img/35.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_6 {
    background: url('../img/36.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_7 {
    background: url('../img/37.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_8 {
    background: url('../img/38.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_9 {
    background: url('../img/39.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_10 {
    background: url('../img/40.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_11 {
    background: url('../img/41.jpg') center no-repeat;
    background-size: cover;
}
.beautiful_12 {
    background: url('../img/42.jpg') center no-repeat;
    background-size: cover;
}
.beauty_dark_block {
    position: absolute;
    width: 100%;
    height: 100%;
}
.dark_1 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_2 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_3 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_4 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_5 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_6 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_7 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_8 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_9 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_10 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_11 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.dark_12 {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease 0s;
    opacity: 0.3;
}
.beautiful_1:hover > .dark_1{
    opacity: 1;
}
.beautiful_2:hover > .dark_2{
    opacity: 1;
}
.beautiful_3:hover > .dark_3{
    opacity: 1;
}
.beautiful_4:hover > .dark_4{
    opacity: 1;
}
.beautiful_5:hover > .dark_5{
    opacity: 1;
}
.beautiful_6:hover > .dark_6{
    opacity: 1;
}
.beautiful_7:hover > .dark_7{
    opacity: 1;
}
.beautiful_8:hover > .dark_8{
    opacity: 1;
}
.beautiful_9:hover > .dark_9{
    opacity: 1;
}
.beautiful_10:hover > .dark_10{
    opacity: 1;
}
.beautiful_11:hover > .dark_11{
    opacity: 1;
}
.beautiful_12:hover > .dark_12{
    opacity: 1;
}
.name_place {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
    transition: all 0.6s ease 0s;
}
.name_place_1 {
}
.hidden_block {
    position: absolute;
    width: 100%;
    bottom: -100%;
    transition: all 0.5s ease 0s;
}
.hidden_block_1 {
}
.hidden_link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #3096F8;
    display: block;
    margin: 0px 0px 25px 0px;
    text-align: left;
    padding-left: 15px;
}
.hidden_link_1 {
}
.hidden_line {
    height: 7px;
    width: 100%;
    background-color: #3096F8;
}
.hidden_line_1 {
}
.beautiful_1:hover > .hidden_block_1{
    bottom: 0;
}
.beautiful_1:hover > .name_place_1{
    bottom: 70px;
}
.beautiful_2:hover > .hidden_block_2{
    bottom: 0;
}
.beautiful_2:hover > .name_place_2{
    bottom: 70px;
}
.beautiful_3:hover > .hidden_block_3{
    bottom: 0;
}
.beautiful_3:hover > .name_place_3{
    bottom: 70px;
}
.beautiful_4:hover > .hidden_block_4{
    bottom: 0;
}
.beautiful_4:hover > .name_place_4{
    bottom: 70px;
}
.beautiful_5:hover > .hidden_block_5{
    bottom: 0;
}
.beautiful_5:hover > .name_place_5{
    bottom: 70px;
}
.beautiful_6:hover > .hidden_block_6{
    bottom: 0;
}
.beautiful_6:hover > .name_place_6{
    bottom: 70px;
}
.beautiful_7:hover > .hidden_block_7{
    bottom: 0;
}
.beautiful_7:hover > .name_place_7{
    bottom: 70px;
}
.beautiful_8:hover > .hidden_block_8{
    bottom: 0;
}
.beautiful_8:hover > .name_place_8{
    bottom: 70px;
}
.beautiful_9:hover > .hidden_block_9{
    bottom: 0;
}
.beautiful_9:hover > .name_place_9{
    bottom: 70px;
}
.beautiful_10:hover > .hidden_block_10{
    bottom: 0;
}
.beautiful_10:hover > .name_place_10{
    bottom: 70px;
}
.beautiful_11:hover > .hidden_block_11{
    bottom: 0;
}
.beautiful_11:hover > .name_place_11{
    bottom: 70px;
}
.beautiful_12:hover > .hidden_block_12{
    bottom: 0;
}
.beautiful_12:hover > .name_place_12{
    bottom: 70px;
}
.popup-fade {
    display: none;
}
.popup-fade:before {
    content: '';
    background: #000;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: 0.8;
    z-index: 50;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 600px;
    max-height: 400px;
    overflow-y: auto;
    background: #fff;
    border-radius: 5px; 
    z-index: 50;
    opacity: 1;	
}
.popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #000;
}
.popup_title {
    color: #000;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0px 20px 0px;
    text-indent: 20px;
}
.popup_text {
    color: #000;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: justify;
    text-indent: 20px;
}

/* fifth fifth */

.fifth_block {
    width: 100%;
    background-color: #fff;
}
.fifth_b_top {
    background-color: #F3F4F6;
}
.subtile_4 {
    margin: 65px 0px 20px 0px;
}
.fifth_b_content {
    display: flex;
    justify-content: space-between;
}
.b_content_1 {
    flex: 0 1 50%;
    background-color: #fff;
    padding: 30px 40px 70px;
}

.b_content_1_photo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* width: 400px; */
    /* height: 400px; */
    /* padding: 5px; */
    /* max-height: 400px; */
    background-color: #fafafa;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}
.b_content_1_photo img{
    position: relative;
    left: 40px;
    top: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
    width: 100%;
    border-radius: 15px;
    transition: all 0.9s ease 0s;
}
/* .b_content_1_photo:hover img{
    left: 0px;
    top: 0px;
} */
.b_content_3_photo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fafafa;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}
.b_content_3_photo img{
    position: relative;
    right: 40px;
    top: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
    width: 100%;
    border-radius: 15px;
    transition: all 0.9s ease 0s;
}
.b_content_2 {
    flex: 0 1 50%;
    background-color: #1e73be;
    padding: 30px 60px 90px;
}

.b_content_2_text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.b_content_2_title {
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}
.b_content_2_block {
    height: 1px;
    width: 150px;
    background-color: #fff;
    margin: 0px 0px 60px 0px;
}
.b_content_2_info {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    text-align: justify;
}



/* footer footer */

.footer {
    width: 100%;
    background-color: #0A55D2;
    margin-top: auto;
}
.footer_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}
.footer_logo {
    display: block;
    flex: 0 0 63px;
}
.footer_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-align: right;
    color: #fff;
}

@media only screen and (max-width: 1200px) {
    .beautiful {
        height: 250px;
    }
    .b_content_1_photo {
        width: 90%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    /* .b_content_3_photo {
        width: 90%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    } */
    .b_content_2 {
        padding: 60px 40px;
    }
    .b_content_2_text {
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}

@media only screen and (max-width: 992px) {
    .beautiful {
        flex: 0 1 33.333%;
    }
    .b_content_2 {
        padding: 20px 30px;
    }
    .b_content_1{
        padding: 30px 40px 70px 20px;
    }
    .b_content_3{
        padding: 30px 10px 70px 50px;
    }
    .b_content_1_photo {
        width: 95%;
        padding: 0;
    }
    .b_content_1_photo img{
        left: 30px;
        top: 30px;
    }
    .b_content_3_photo{
        width: 95%;
        padding: 0;
    }
    .b_content_3_photo img{
        right: 30px;
        top: 30px;
    }
    .b_content_2_title {
        color: #fff;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        margin: 0px 0px 20px 0px;
    }
    .b_content_2_block {
        width: 100px;
        margin: 0px 0px 40px 0px;
    }
    .b_content_2_info {
        font-size: 18px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 768px) {
    body.lock{
        overflow: hidden;
    }
    .nav{
        position: relative;
        display: block;
        height: 60px;
    }
    .checkbox{
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 50%;
        right: 0px;
        transform: translate(0, -50%);
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 15;
    }
    .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(0, -50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
    }
    .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .menu{
        position: fixed;
        padding: 90px 0px 20px 0px;
        background-color: #0A55D2;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        left: -100%;
        transition: all 0.6s ease-in-out;
        text-align: center;
        overflow: hidden;
    }
    .menu li{
        margin: 0px 0px 40px 0px;
    }
    .menu li:last-child{
        margin: 0;
    }
    .nav input[type="checkbox"]:checked ~ .menu {
        /* transform: translateX(0); */
        left: 0;
    }
    .nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    .footer_logo{
        margin-left: 5px;
    }
    .footer_text{
        margin-right: 5px;
    }
    .first_main{
        background-position: left;
        height: auto;
    }
    .title{
        font-size: 40px;
        line-height: 50px;
    }
    .text{
        top: 0px;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
    .question_block {
        top: 0;
        margin: 40px 0px 20px 0px;
    }
        
    .second_main {
        padding: 30px 0px 20px 0px;
    }
    .subtile {
        font-size: 35px;
        line-height: 40px;
        margin: 30px 0px 10px 0px;
    }

    .holy_block {
        margin: 15px 0px 0px 0px;
    }
    .holy_block_photo {
        height: 200px;
    }
    .holy_block_title {
        font-size: 25px;
        line-height: 30px;
        margin: 30px 0px 10px 0px;
    }
    ._block_text {
        font-size: 18px;
        line-height: 22px;
        margin: 0px 0px 10px 0px;
        text-indent: 20px;
    }
    .news_block {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 48%;
    }
    .news_block_link {
        font-size: 20px;
        line-height: 24px;
    }
    .forth_block {
        padding: 35px 0px 0px 0px;
    }
    .subtile_3{
        margin: 30px 0px 20px 0px;
    }
    .beautiful {
        height: 200px;
    }
    .name_place {
        font-size: 18px;
        line-height: 20px;
    }
    .hidden_link{
        font-size: 18px;
        line-height: 20px;
        padding: 0;
        text-align: center;
    }
    .popup {
        padding: 20px;
        width: 90%;
    }
    .popup-close {
        top: 15px;
        right: 15px;
        font-size: 24px;
    }
    .popup_title {
        font-size: 20px;
        line-height: 24px;
        margin: 0px 0px 15px 0px;
        text-indent: 20px;
    }
    .fifth_b_content {
        display: block;
    }
    .subtile_4 {
        margin: 60px 0px 0px 0px;
    }
    .b_content_1 {
        width: 100%;
        padding: 20px 20px 70px 20px;
    }
    .b_content_2{
        width: 100%;
        padding: 40px 30px;
    }
    .b_content_3{
        width: 100%;
        padding: 40px 10px 70px 20px;
    }
    .b_content_1_photo {
        width: 80%;
        padding: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .b_content_1_photo img{
        left: 40px;
        top: 40px;
    }
    .b_content_3_photo {
        width: 80%;
        padding: 0;
        top: 0;
        left: 60%;
        transform: translate(-60%, 0);
    }
    .b_content_3_photo img{
        right: 40px;
        top: 40px;
    }
    .b_content_2_text {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}
@media only screen and (max-width: 580px) {
    .container {
        padding: 0px 15px;
    }
    .nav{
        height: 55px;
    }
    .title{
        font-size: 32px;
        line-height: 40px;
        margin: 30px 0px 30px 0px;
    }
    .text{
        font-size: 16px;
        line-height: 22px;
    } 
    .footer_text{
        font-size: 16px;
        line-height: 18px;
    }
    .popup_0 {
        width: 90%;
        padding: 15px 20px;
    }
    .qes_tit{
        font: 24px;
        line-height: 30px;
        margin: 15px 0px 25px 0px;
    }
    .second_main {
        padding: 10px 0px;
    }
    .subtile {
        font-size: 25px;
        line-height: 36px;
        margin: 10px 0px 0px 0px;
    }
    .holy_places {
        display: block;
    }
    .holy_block {
        width: 100%;
        margin: 10px 0px 0px 0px;
        padding: 5px;
    }
    .holy_block_photo {
        height: auto;
    }
    .holy_block_title {
        font-size: 20px;
        line-height: 20px;
        margin: 20px 0px 0px 0px;
    }
    ._block_text {
        font-size: 16px;
        line-height: 20px;
        margin: 0px 0px 10px 0px;
        text-indent: 20px;
    }
    .more_detailed{
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0px;
        margin-left: 20px;
    }
    .third_main {
        width: 100%;
        padding: 20px 0px;
    }
    .news {
        display: block;
    }
    .subtile_2{
        margin: 0px 0px 0px 0px;
    }
    .news_block {
        width: 100%;
        margin: 20px 0px 0px 0px;
    }
    .news_block:first-child {
        margin: 10px 0px 0px 0px;
    }
    .news_block_text {
        font-size: 18px;
        line-height: 20px;
        padding: 0px 10px;
        margin: 15px 0px;
        color: #fff;
    }
    .news_block_link {
        font-size: 18px;
        line-height: 20px;
        padding: 10px 0px;
        margin: auto 5px 10px 5px;
    }
    .forth_block {
        padding: 20px 0px 0px 0px;
    }
    .subtile_3{
        margin: 0px 0px 10px 0px;
    }
    .beautiful {
        flex: 0 1 50%;
        height: 180px;
    }
    .popup {
        padding: 10px;
    }
    .popup-close {
        top: 10px;
        right: 10px;
        font-size: 20px;
    }
    .subtile_4 {
        margin: 20px 0px 5px 0px;
    }
    .b_content_1 {
        width: 100%;
        padding: 10px 30px 50px 10px;
    }
    .b_content_3 {
        width: 100%;
        padding: 30px 10px 50px 30px;
    }
    .b_content_2{
        width: 100%;
        padding: 20px;
    }
    .b_content_1_photo {
        width: 90%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .b_content_1_photo img{
        left: 25px;
        top: 25px;
    }
    .b_content_3_photo {
        width: 90%;
        padding: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .b_content_3_photo img{
        right: 25px;
        top: 25px;
    }
    .b_content_2_title {
        font-size: 24px;
        line-height: 30px;
        margin: 0px 0px 15px 0px;
    }
    .b_content_2_block {
        margin: 0px 0px 30px 0px;
    }
} 

@media only screen and (max-width: 420px){
    .beauty_places {
        display: block;
    }
    .beautiful {
        width: 100%;
        height: 250px;
    }
}
